.delete-theme,
.delete-theme:hover {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #e74c3c;
  color: #fff;
  position: absolute;
  top: 45px;
  left: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 15px;
  opacity: 0.4;
  visibility: hidden;
}
.delete-theme:hover {
  opacity: 1;
}
.admin_themes li {
  position: relative;
}
.admin_themes li .theme_wrapper:hover .delete-theme {
  visibility: visible;
}
