.serenity_color_schemes_form form > div > div{
	position:relative;
}
.serenity_color_schemes_form #theme_color-label{
	display:none !important;
}
.serenity_color_schemes_form #theme_color-wrapper .form-element{
    max-width: 100%;
}
.serenity_color_schemes_form div#theme_color-label {
    float: none;
    display: block;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
}
.serenity_color_schemes_form #theme_color-element .form-options-wrapper {
    display: flex;
	  flex-wrap:wrap;
		justify-content:center;
}
.serenity_color_schemes_form #theme_color-element .form-options-wrapper li {
    max-width: 31%;
    display: flex;
    margin-right: 15px !important;
    position: relative;
    border-width: 4px;
}
.serenity_color_schemes_form #theme_color-element .form-options-wrapper li img{
    width:100%;
}
.serenity_styling_buttons a {
    border: 1px solid #0dc7f1;
    border-radius: 4px;
    padding: 12px 10px;
    margin-bottom: 10px;
	  color: #0dc7f1;
	  font-family:inherit !important;
}
.serenity_styling_buttons  a#custom_themes {
   display:inline-block !important;
}
.serenity_styling_buttons a:before{
	font-family:'Font Awesome 5 Free';
	margin-right: 5px;
}
.serenity_color_schemes_form #theme_color-element .form-options-wrapper li input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.colored-border{
	border:4px solid #0dc7f1;
}
.serenity_styling_buttons .add_new_theme {
	position: absolute;
	top: 0;
	right: 0;
}
.serenity_color_schemes_form #header_settings-wrapper, .serenity_color_schemes_form #footer_settings-wrapper, .serenity_color_schemes_form #body_settings-wrapper {
  border-bottom-width: 1px;
}
.serenity_color_schemes_form .form-label, .serenity_color_schemes_form .form-label, .serenity_color_schemes_form .form-label {
  font-size: 14px;
  width: auto;
}
.serenity_color_schemes_form #header_settings_group > fieldset > div, .serenity_color_schemes_form #footer_settings_group > fieldset > div, .serenity_color_schemes_form #body_settings_group > fieldset > div {
	margin-right: 3%;
	display: inline-block;
	width: 30%;
}
.serenity_color_schemes_form input[type=text]{
	min-width: 200px !important;
  margin-top: 10px;
}
.serenity_color_schemes_form .form-options-wrapper label .custom_theme_name {
	font-weight:600;
	text-align:center;
	display:block;
	padding:8px 0;
}